/* --- 
 * Variables
 * --- --- --- */

/* 
 * Colors - List of colors by pairs. Primary and Secondary color. */

$color-link-normal:		#000;

$color-background-body: #FFF;

$color-text-normal:		#444;

/* 
 * Typography - List of colors by pairs. Primary and Secondary color. */

$font-size-base:		16px;
$font-line-height:		1.5;

$fa-font-size-base:		$font-size-base;
$fa-line-height-base:	$font-line-height;

$font-family-text:		'Fontin Sans CR', 'pt_sansregular', Helvetica, Arial, sans-serif;
$font-family-display:	$font-family-text;


