/* --- 
 * Buttons
 * --- --- --- */

.button, button {
	display: inline-block;
	border-radius: 0.3em;
	margin: 0 1.5em 1.5em 0; 
	text-transform: capitalize;
	cursor: pointer;
	transition: background 0.1s, color 0.1s;
	border: none;
	
	&.empty:hover {
		text-decoration: underline; 
	}

	&:focus {
		text-decoration: underline; 
		outline: none;
		box-shadow: 0 0 1.5em 0 rgba(255,255,255,0.7) inset;
	}
}

a.button {
	text-decoration: none; 

	&:visited {
		text-decoration: underline; 
	}
}

